<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Share a new life!</h1>
        <div style="width: 30%; margin: 30px auto">
            <form action="/life" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Go!</button>
                </div>
            </form>
            <a href="/life">Back to homepage</a>
        </div>
    </div>
</div>

<% include partials/footer %>